.banner {
  padding: 1rem 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .container {
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner .container h2 {
  font-size: 38px;
  line-height: 52px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  font-family: BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial,
    sans-serif;
}

.banner .container .banner_desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 0.8rem;
}

.banner .container .banner_desc .divider {
  height: 12px;
  border: 1px solid rgb(207, 207, 207);
}

.banner .container .banner_desc span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-top: 0.2rem;
  font-family: BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial,
    sans-serif;
}

.banner .container .banner_desc span img {
  width: 16px;
  height: 16px;
}

/* Search container */

.banner .search_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1080px;
  height: 136px;
  padding: 1rem 3%;
  background-color: #fff;
  margin-top: 2.1rem;
  border-radius: 10px;
  position: relative;
}

/* Search Form */

.banner .search_wrapper .search_box {
  width: 1100px;
  height: auto;
  position: absolute;
  top: 0;
  margin-top: 2.5rem;
}

.banner .search_wrapper .search_box .form_holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2;
}

.banner .search_wrapper .search_box .form_holder .form_items {
  position: relative;
  width: 218px;
  height: 40px;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  flex-direction: column;
  border: 1px solid #dadfe6;
}

.banner .search_wrapper .search_box .form_holder .form_items .title {
  font-size: 12px;
  line-height: 18px;
  color: #8592a6;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner .search_wrapper .search_box .form_holder .form_items input {
  outline: none;
  border: none;
  margin-top: 0.3rem;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: Arial;
}

.banner
  .search_wrapper
  .search_box
  .form_holder
  .form_items
  input::placeholder {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: Arial;
  color: #8592a6;
}

.banner .search_wrapper .search_box .form_holder .form_items .d_text, .headerSearchText {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-family: Arial;
  color: #8592a6;
  padding-top: 0.37rem;
}

.banner .search_wrapper .search_box .form_holder .form_btn button {
  width: 120px;
  height: 57px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 5px;
  cursor: pointer;
  background-color: #3264ff;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-left: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.banner .search_wrapper .search_box .form_holder .form_btn button:hover {
  background-color: #264cc2;
}

.banner .search_wrapper .search_box .form_holder .form_btn button i {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  padding-top: +0.4rem;
}

.options {
  z-index: 2;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 215px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionText {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #0f294d;
  padding-top: 0.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.optionText small {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #6b8299;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #3264ff;
  color: #3264ff;
  cursor: pointer;
  border-radius: 40px;
  background-color: white;
  line-height: 32px;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

/* Form Dropdown Options */
.destination_option {
  width: 490px;
  height: 400px;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
}

.destination_option .title {
  width: 100%;
  position: absolute;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 2rem;
  background-color: #f7f7fb;
}

.destination_option .title h2 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  color: #666666;
  padding-left: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.destination_option .title_2 {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: #f7f7fb;
}

.destination_option .title_2 h2 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  color: #666666;
  padding-left: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.destination_option .destination_items {
  margin-top: 3.5rem;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  flex: 1;
}

.destination_option .destination_items span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.destination_option .destination_items span:hover {
  color: #3264ff;
}

.date {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
}

/* Search Cat */

.banner .search_wrapper .search_cat {
  position: absolute;
  top: 0;
  width: 886px;
  height: 50px;
  border-radius: 50px;
  margin-top: -1.7rem;
  background-color: #0f294d;
  opacity: 0.85;
}

.banner .search_wrapper .search_cat .cat_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .search_wrapper .search_cat .cat_holder .cat_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 0.9rem;
  flex: 1;
}

.banner .search_wrapper .search_cat .cat_holder .cat_items .cat_lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-top: -0.3rem;
}

.banner .search_wrapper .search_cat .cat_holder .cat_items .cat_lists.active {
  background-color: #fff;
  border-radius: 50px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  margin-top: -0.4rem;
  opacity: 1;
}

.banner .search_wrapper .search_cat .cat_holder .cat_items .cat_lists.active i {
  color: #0f294d;
}

.banner
  .search_wrapper
  .search_cat
  .cat_holder
  .cat_items
  .cat_lists.active
  span {
  color: #0f294d;
}

.banner .search_wrapper .search_cat .cat_holder .cat_items .cat_lists i {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}

.banner .search_wrapper .search_cat .cat_holder .cat_items .cat_lists span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  font-family: BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial,
    sans-serif;
}
